<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Owner details Page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<i class="material-icons" style="font-size:48px;color:white;">pets</i>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/"><strong>Home</strong><span class="sr-only">(current)</span>
				</a>
				</li>
				<li class="nav-item active"><a class="nav-link" href="/ownerpage"><strong>Owners</strong><span class="sr-only">(current)</span>
				</a>
				</li>
				<li class="nav-item active"><a class="nav-link" href="/vetlist"><strong>Vet_Available</strong><span class="sr-only">(current)</span>
				</a>
				</li>
			</ul>
			
		</div>
	</nav>
			<br><br>
				<div class="container overflow-hidden">
				<div class="card">
				<h2>Owner information</h2>
				<table class="table table-striped" th:action="@{/updateOwner_mapping}" method="post" th:object="${detailOwner}" >
				  <tbody >
				    <tr>
				      <th scope="row">Name</th>
				      <td th:text="${detailOwner.firstName}+${detailOwner.lastName}"></td>
				      
				    </tr>
				    <tr>
				      <th scope="row">Address</th>
				      <td th:text="${detailOwner.address}"></td>
				     
				    </tr>
				    <tr>
				      <th scope="row">City</th>
				      <td th:text="${detailOwner.city}"></td>
				     
				    </tr>
				     <tr>
				      <th scope="row">Telephone <br><br>
				       <a class="btn btn-sm btn-info"  th:href="@{'/updateOwnerPage_mapping/'+${detailOwner.id}}">Edit Owner</a> 
				       <a class="btn btn-sm btn-info" href="/addOwnerPage_mapping">Add New Pet</a> 
				       <br><br>
				      </th>
				      <td th:text="${detailOwner.telephone}"></td>
				     
				    </tr>
					  <tr>
					      <th scope="row"><h2>Pets and Visits</h2></th>
					      <th scope="row"></th>
					    </tr>
				     <tr>
				    
				      <th scope="row">
				         <p>Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong th:text="${detailOwner.name}" ></strong></p>
				         
				         <p>Birthday :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong th:text="${detailOwner.date}" ></strong> </p>
				         
				         <p>Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong th:text="${detailOwner.petType}" ></strong></p>
				         
				         
				      </th>
				      <td>
					      <p>Description : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong th:text="${detailOwner.description}" ></strong></p>
					      <p>date visit :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong th:text="${detailOwner.RegistrationDate}" ></strong></p>
				      </td>
				     
				    </tr>
				  </tbody>
				</table>
				</div>
				<br><a href="/ownerpage">Go Back</a>
			</div>
		
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>