<!doctype html>
<html lang="en" xmlns="http://thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Home Page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<i class="material-icons" style="font-size:48px;color:white;">pets</i>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/"><strong>Home</strong><span class="sr-only">(current)</span>
				</a>
				</li>
				<li class="nav-item active"><a class="nav-link" href="/ownerpage"><strong>Owners</strong><span class="sr-only">(current)</span>
				</a>
				</li>
				<li class="nav-item active"><a class="nav-link" href="/vetlist"><strong>Vet_Available</strong><span class="sr-only">(current)</span>
				</a>
				</li>
			</ul>
			
		</div>
			</nav>
			<br>
			<div class="container">
		<h2>Veterinarians</h2>
		<br>
		<table class="table table-info table-striped">
		 <thead class="bg-dark">
    <tr>
      <th scope="col" style="color:white;">Name</th>
      <th scope="col" style="color:white;">Specialties</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">James Carter</th>
      <td>none</td>
    </tr>
    <tr>
      <th scope="row">Linda Douglas</th>
      <td>Dentistry surgery</td>
    </tr>
    <tr>
      <th scope="row">Sharon Jenkins</th>
      <td>none</td>
    </tr>
    <tr>
      <th scope="row">Helen Leary</th>
      <td>Radiology</td>
    </tr>
    <tr>
      <th scope="row">rafael Ortga</th>
      <td>Surgery</td>
    </tr>
    <tr>
      <th scope="row">Henry Stevens</th>
      <td>Radiology</td>
    </tr>
  </tbody>
  
          </table>
			</div>
	
	

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>